<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>作业列表</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-table
            :data="questionList"
            height="250"
            fit
            border
            style="width: 100%; vertical-align: middle; text-align: left;">
        <el-table-column
                prop="id"
                label="题目id"
                width="180">
        </el-table-column>
        <el-table-column
                prop="questionNum"
                label="题目编号"
                width="180">
        </el-table-column>
        <el-table-column
                prop="type"
                label="类型"
                width="180">
        </el-table-column>
        <el-table-column
                prop="grade"
                label="年级"
                width="180">
        </el-table-column>
        <el-table-column
                prop="course"
                label="课程"
                width="180">
        </el-table-column>
        <el-table-column
                prop="chapter"
                label="章"
                width="180">
        </el-table-column>
        <el-table-column
                prop="section"
                label="节"
                width="180">
        </el-table-column>
        <!--<el-table-column-->
                <!--prop="url"-->
                <!--label="题目地址"-->
                <!--width="180">-->

        <!--</el-table-column>-->
        <el-table-column
                label="操作"
                width="240">
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleAnswer(scope.$index, scope.row)">查看作业
                </el-button>
                <el-button
                        size="mini"
                        @click="handleResult(scope.$index, scope.row)">得分情况
                </el-button>
                <!--<el-button-->
                <!--size="mini"-->
                <!--type="danger"-->
                <!--@click="handleDelete(scope.$index, scope.row)">删除-->
                <!--</el-button>-->
            </template>
        </el-table-column>
    </el-table>

    <el-dialog
            title="作业详情"
            :visible.sync="dialogVisible"
            width="50%">
        <el-form ref="form" :model="question" label-width="80px">
            <el-form-item label="问题题目">
                <el-input type="textarea" :rows="1" v-model="question.questionTitle"></el-input>
            </el-form-item>
            <img v-for="url in question.urlList" v-bind:src="url" class="image"/>
            <!--<img v-bind:src="question.url" class="image"/>-->
            <el-form-item label="答案上传">
                <el-upload
                        class="upload-demo"
                        action="/student/answer/uploader"
                        :on-preview="handlePreview"
                        :on-remove="handleRemove"
                        :before-remove="beforeRemove"
                        multiple
                        :limit="5"
                        :on-exceed="handleExceed"
                        :file-list="fileList"
                        :on-success="onSuccess">
                    <el-button size="small" type="primary">点击上传</el-button>
                    <div slot="tip" class="el-upload__tip">只能上传jpg/png/jpeg文件，且不超过10M</div>
                </el-upload>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">提交答案</el-button>
                <el-button @click="dialogVisible = false">取消</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <el-dialog
            title="答题详情"
            :visible.sync="resultVisible"
            width="50%">
        <el-form ref="form" :model="answer" label-width="80px">
            <el-form-item label="问题题目">
                <el-input type="textarea" :rows="1" v-model="answer.questionTitle"></el-input>
            </el-form-item>
            <img v-for="url in answer.urlList" v-bind:src="url" class="image" width="100%"/>
            <img v-for="url in answer.checkUrlList" v-bind:src="url" class="image" width="100%"/>

            <!--<img v-bind:src="question.url" class="image"/>-->
            <el-form-item label="得分">
                <el-input type="textarea" :rows="1" v-model="answer.score" style="width: 10%;"></el-input>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
<style>
</style>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
<script>
    (function() {
        $.ajax({
            type: 'GET',
            url: "/student/check_token",
//            data: vm.condition,
            contentType:"application/x-www-form-urlencoded",
            success: function(data){
            },
            error : function(xhr,textStatus,errorThrown){
                if (xhr.status == 401) {
                    top.location.href = '/pages/student_login.html';
                }
            },
            dataType: "json"
        });
    })();



    function getAnswerById(vm, id) {
        $.ajax({
            type: 'GET',
            url: "/student/answer/questionId?questionId="+id,
            // data: vm.condition,
            contentType:"application/x-www-form-urlencoded",
            success: function(data){
                if(data.code == 0){
                    vm.answer = data.data;
                }
            },
            error : function(xhr,textStatus,errorThrown){
                if (xhr.status == 401) {
                    top.location.href = '/pages/student_login.html';
                }
            },
            dataType: "json"
        });
    }

    function getQuestinById(vm, id) {
        $.ajax({
            type: 'GET',
            url: "/student/ask/id?id="+id,
            // data: vm.condition,
            contentType:"application/x-www-form-urlencoded",
            success: function(data){
                if(data.code == 0){
                    vm.question = data.data;
                }
            },
            error : function(xhr,textStatus,errorThrown){
                if (xhr.status == 401) {
                    top.location.href = '/pages/student_login.html';
                }
            },
            dataType: "json"
        });
    }

    function getQuestionList(vm) {
        $.ajax({
            type: 'GET',
            url: "/student/ask/list",
//            data: vm.condition,
            contentType:"application/x-www-form-urlencoded",
            success: function(data){
                if(data.code == 0){
                    vm.questionList = data.data;
                }
            },
            error : function(xhr,textStatus,errorThrown){
                if (xhr.status == 401) {
                    top.location.href = '/pages/student_login.html';
                }
            },
            dataType: "json"
        });
    }

    function submitAnswer(vm, id) {
        $.ajax({
            type: 'GET',
            url: "/student/answer/submit?questionId="+id,
            // contentType : 'application/json',
            dataType:'json',
            success: function(data){
                if(data.code == 0){
                    alert("上传答案成功")
                }
            },
            error : function(xhr,textStatus,errorThrown){
                if (xhr.status == 401) {
                    top.location.href = '/pages/student_login.html';
                }
            }
        });
    }

    new Vue({
        el: '#app',
        data: function () {
            return {
                fileList: [],
                questionList: [
                ],
                question:{},
                answer:{},
                dialogVisible:false,
                resultVisible:false
            }
        },
        mounted: function() {
            getQuestionList(this);
        },
        methods: {
            handleAnswer: function (idx, row) {
                getQuestinById(this, row.id)
                this.dialogVisible = true;
            },
            handleResult: function(idx, row){
                getAnswerById(this, row.id)
                this.resultVisible = true;
            }
            ,
            handleDelete:function(idx, row){

            },
            onSubmit : function () {
                submitAnswer(this, this.question.id)
            },
            onSuccess(response, file, fileList){
                if(response.code = 200){
                    file.url = response.data.toString();
                }
            },
            handleRemove(file, fileList) {
                console.log(file, fileList);
            },
            handlePreview(file) {
                alert(file.name)
                console.log("preview");
            },
            handleExceed(files, fileList) {
                this.$message.warning('当前限制选择 5 个文件，共次选择了'+ fileList.length +'个文件');
            },
            beforeRemove(file, fileList) {
                return this.$confirm('确定移除 ' + file.name +' ？' + file.url);
            }
        }
    })
</script>
</html>