<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>作业列表</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-table
            :data="questionList"
            height="250"
            fit
            border
            style="width: 100%">
        <el-table-column
                prop="id"
                label="题目id"
                width="180">
        </el-table-column>
        <el-table-column
                prop="questionNum"
                label="题目编号"
                width="180">
        </el-table-column>
        <el-table-column
                prop="type"
                label="类型"
                width="180">
        </el-table-column>
        <el-table-column
                prop="grade"
                label="年级"
                width="180">
        </el-table-column>
        <el-table-column
                prop="course"
                label="课程"
                width="180">
        </el-table-column>
        <el-table-column
                prop="chapter"
                label="章"
                width="180">
        </el-table-column>
        <el-table-column
                prop="section"
                label="节"
                width="180">
        </el-table-column>
        <!--<el-table-column-->
                <!--prop="url"-->
                <!--label="题目地址"-->
                <!--width="180">-->

        <!--</el-table-column>-->
        <el-table-column
                label="操作"
                width="200">
            <template slot-scope="scope">
                <el-button width="100"
                        size="mini"
                        @click="handleEdit(scope.$index, scope.row)">编辑
                </el-button>
                <el-button width="100"
                        size="mini"
                        @click="handleAnswer(scope.$index, scope.row)">查看作业情况
                </el-button>
                <!--<el-button-->
                <!--size="mini"-->
                <!--type="danger"-->
                <!--@click="handleDelete(scope.$index, scope.row)">删除-->
                <!--</el-button>-->
            </template>
        </el-table-column>
    </el-table>

    <el-dialog
    title="作业详情"
    :visible.sync="showAnswerList"
    width="80%">
    <!--<el-form ref="form" :model="answerList" label-width="80px">-->
        <!---->
    <!--</el-form>-->
        <el-table
                :data="answerList"
                height="250"
                style="width: 80%">
            <el-table-column
                    prop="id"
                    label="作业id"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="studentId"
                    label="学生Id"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="studentName"
                    label="学生姓名"
                    width="180">
            </el-table-column>

            <el-table-column
                    label="操作"
                    width="200">
                <template slot-scope="scope">
                    <el-button width="100"
                               size="mini"
                               @click="handleCheck(scope.$index, scope.row)">批改作业
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-dialog>

    <el-dialog
            title="批改作业"
            :visible.sync="showCheck"
            width="80%">
        <el-form ref="form" :model="checkAnswer" label-width="80px">
            <el-form-item label="问题题目">
                <el-input type="textarea" :rows="1" v-model="checkAnswer.questionTitle"></el-input>
            </el-form-item>
            <el-form-item label="学生姓名">
                <el-input type="textarea" :rows="1" v-model="checkAnswer.studentName" style="width: 20%;"></el-input>
            </el-form-item>
            <el-form-item label="学生ID">
                <el-input type="textarea" :rows="1" v-model="checkAnswer.studentId" style="width: 20%;"></el-input>
            </el-form-item>
            <img v-for="url in checkAnswer.urlList" v-bind:src="url" class="image" style="width: 80%;"/>
            <el-form-item label="满分分数">
                <el-input type="textarea" :rows="1" v-model="checkAnswer.maxScore" style="width: 10%;"></el-input>
            </el-form-item>
            <el-form-item label="学生得分">
                <el-input type="textarea" :rows="1" v-model="checkAnswer.score" style="width: 10%;"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmitScore">提交分数</el-button>
                <!--<el-button>取消</el-button>-->
            </el-form-item>
        </el-form>

    </el-dialog>
</div>
<style>
</style>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
<script>
    (function() {
        $.ajax({
            type: 'GET',
            url: "/teacher/check_token",
//            data: vm.condition,
            contentType:"application/x-www-form-urlencoded",
            success: function(data){
            },
            error : function(xhr,textStatus,errorThrown){
                if (xhr.status == 401) {
                    top.location.href = '/pages/teacher_login.html';
                }
            },
            dataType: "json"
        });
    })();

    function getAnswerByQuestionId(vm, id) {
        $.ajax({
            type: 'GET',
            url: "/teacher/answer?questionId="+id,
//            data: vm.condition,
//             contentType:"application/x-www-form-urlencoded",
            success: function(data){
                if(data.code == 0){
                    vm.answerList = data.data;
                }
            },
            error : function(xhr,textStatus,errorThrown){
                if (xhr.status == 401) {
                    top.location.href = '/pages/teacher_login.html';
                }
            },
            dataType: "json"
        });
    }

    function getAnswerById(vm, id) {
        $.ajax({
            type: 'GET',
            url: "/teacher/answer/answerId?answerId="+id,
//            data: vm.condition,
//             contentType:"application/x-www-form-urlencoded",
            success: function(data){
                if(data.code == 0){
                    vm.checkAnswer = data.data;
                }
            },
            error : function(xhr,textStatus,errorThrown){
                if (xhr.status == 401) {
                    top.location.href = '/pages/teacher_login.html';
                }
            },
            dataType: "json"
        });
    }

    function submitScore(vm) {
        $.ajax({
            type: 'POST',
            url: "/teacher/answer/score",
            data: {
                "answerId":vm.checkAnswer.id,
                "score":vm.checkAnswer.score
            },
            contentType:"application/x-www-form-urlencoded",
            success: function(data){
                if(data.code == 0){
                    alert("设置分数成功");
                }
            },
            error : function(xhr,textStatus,errorThrown){
                if (xhr.status == 401) {
                    top.location.href = '/pages/teacher_login.html';
                }
            },
            dataType: "json"
        });
    }

    function getQuestionList(vm) {
        $.ajax({
            type: 'GET',
            url: "/teacher/ask/list",
//            data: vm.condition,
            contentType:"application/x-www-form-urlencoded",
            success: function(data){
                if(data.code == 0){
                    vm.questionList = data.data;
                }
            },
            error : function(xhr,textStatus,errorThrown){
                if (xhr.status == 401) {
                    top.location.href = '/pages/teacher_login.html';
                }
            },
            dataType: "json"
        });
    }

    new Vue({
        el: '#app',
        data: function () {
            return {
                questionList: [
                ],
                showAnswerList:false,
                showCheck:false,
                answerList:[],
                checkAnswer:{}
            }
        },
        mounted: function() {
            getQuestionList(this);
        },
        methods: {
            handleEdit: function (idx, row) {

            },
            handleAnswer: function(idx, row){
                getAnswerByQuestionId(this, row.id)
                this.showAnswerList = true;
            },
            handleDelete:function(idx, row){

            },
            handleCheck:function(idx, row){
                getAnswerById(this, row.id)
                this.showCheck = true;
            },
            onSubmitScore: function(){
                submitScore(this)
            },
            onSubmit : function () {
                // 这里提交表单数据
                this.changePwdV = true;
            }
        }
    })
</script>
</html>