<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>批改作业</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <div class="layout">
        <div class="header">
            <div class="logo">
                checking
            </div>
            <div class="nav">
                <el-button type="primary" icon="el-icon-close" @click="clear()">清除</el-button>
                <el-button type="primary" icon="el-icon-download" @click="save()">保存</el-button>
                <el-button type="primary" style="padding:0px 20px">
                    <el-color-picker v-model="chooseColor" size="medium" color-format="hex"></el-color-picker>
                    <span style="margin-left: 10px">选择颜色</span>
                </el-button>
                <a href="javascript:void(0);" ref="download" download="picture.png" v-show="false"></a>
            </div>
        </div>

        <div class="content">
            <div class="content-left">
                <div class="setterSize">
                    <span>线条粗细:{{penSize}}</span>
                    <el-slider
                            v-model="penSize"
                            max=20
                            :step="1"
                            show-stops>
                    </el-slider>
                    <span>虚线长度:{{lineType[0]}}</span>
                    <el-slider
                            v-model="lineType[0]"
                            :step="1">
                    </el-slider>
                    <span>虚线间距:{{lineType[1]}}</span>
                    <el-slider
                            v-model="lineType[1]"
                            :step="1">
                    </el-slider>
                </div>

                <el-menu default-active="1" class="el-menu-vertical-demo">
                    <el-menu-item index="1" @click="drawType(1)">
                        <span slot="title">铅笔</span>
                    </el-menu-item>
                    <el-menu-item index="2" @click="drawType(2)">
                        <span slot="title">直线</span>
                    </el-menu-item>
                    <el-menu-item index="3" @click="drawType(3)">
                        <span slot="title">圆形</span>
                    </el-menu-item>
                    <el-menu-item index="4" @click="drawType(4)">
                        <span slot="title">矩形</span>
                    </el-menu-item>
                    <el-menu-item index="5" @click="drawType(5)">
                        <span slot="title">橡皮</span>
                    </el-menu-item>
                </el-menu>
            </div>

            <div class="content-right">
                <div class="body" :style="{width:canvasSize.width + 'px',height: canvasSize.height + 'px' }">
                    <canvas id="canvas_background" ref="canvas_background"></canvas>
                    <canvas id="canvas" ref="canvas" :style="{cursor:curcursor}"></canvas>
                    <canvas id="canvas_bak" ref="canvas_bak" :style="{cursor:curcursor}"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    *{
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
       user-select: none;
    }
    canvas{
      position: absolute;
      z-index : 0;
      left: 0;
      right: 0;
      width: 100%;
      height:100%;
    }

    .layout{
      background-color: rgb(236, 236, 236);
      height: 100%;
    }

    .header{
      background-color: #7e57c2;
    }

    .logo{
      font-size: 24px;
      color: white;
      display: inline-block;
      padding: 10px 20px;
    }

    .nav{
      display: inline-flex;
      align-items: center;
    }

    .content{
      overflow: hidden;
      height:calc(100% - 56px);
      display: flex;
    }

    .content-left{
      min-width: 2rem;
      width: 15%;
      float: left;
      height: auto;
      background-color: white;
      margin-bottom: -4000px;
      padding-bottom: 4000px;
    }

    .content-right{
      width: 85%;
      height:100%;
      display: inline-block;
      padding: 10px 20px;
      background-color: rgba(0, 0, 0, 0)
    }

    .body{
      position: relative;
      background-color: white;
      border-radius: 5px;
      height:100%;
      margin: 0 auto;
    }

    .el-menu-item{
        display: flex;
        justify-content: center;
        font-size: 18px;
    }

    .setterSize{
      padding: 5%;
      font-size: 1rem;
    }

    .el-button:nth-child(3) span{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
<script>

    function getBackgroundImg(vm) {
        $.ajax({
            type: 'GET',
            url: "/teacher/answer/cache_url",
            async:false,
//            data: vm.condition,
            contentType: "application/x-www-form-urlencoded",
            success: function (data) {
                if (data.code == 0) {
                    vm.backGroundImg = data.data.url;
                    vm.answerId = data.data.answerId;
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                if (xhr.status == 401) {
                    top.location.href = '/pages/teacher_login.html';
                }
            },
            dataType: "json"
        });
    }

    function getOffset(Node, offset) {
      if (!offset) {
        offset = {};
        offset.top = 0;
        offset.left = 0;
      }
      if (Node == document.body) {
        return offset;
      }
      offset.top += Node.offsetTop;
      offset.left += Node.offsetLeft;
      return getOffset(Node.parentNode, offset);
    }

    new Vue({
        el: '#app',
        data: function () {
            return {
              scrW: window.screen.availWidth,
              scrH: window.screen.availHeight,
              canvasSize: {
                width: window.screen.availWidth*0.9,
                height: window.screen.availHeight
              },
              canvasTop:null,
              canvasLeft:null,
              canvas: this.$refs.canvas,
              context: null,
              canvas_bak: this.$refs.canvas_bak,
              context_bak: null,
              canvas_background: this.$refs.canvas_background,
              context_background: null,
              //ischoosecolor: false,
              chooseColor: '#ff0000',
              penSize: 1,
              lineType: [0,0],
              canDraw: false,
              curcursor: 'auto',
              cancelList: [],
              cancelIndex: 0,
              backGroundImg: '',
                answerId:0
            }
        },

        mounted () {
            getBackgroundImg(this);
            this.initCanvas();
            //this.initDrag()
            this.addkeyBoardlistener()
            this.drawType(1)
            //this.canvas_bak.addEventListener('click',this.falseColor)
        },
        methods: {
            //画布初始化
            initCanvas () {
              //背景层
              this.canvas_background = document.getElementById('canvas_background');
              this.canvas_background.width  = this.canvasSize.width;
              this.canvas_background.height  = this.canvasSize.height;
              this.context_background = this.canvas_background.getContext('2d');
              //图片背景
              let bgImg = new Image();
              //bgImg.src = "http://img2.3lian.com/2014/f5/63/d/16.jpg";
              // bgImg.src = "../img/homework.jpg"; //背景图片-作业
              bgImg.src = this.backGroundImg; //背景图片-作业
              //bgImg.crossOrigin = 'Anonymous';
              bgImg.onload = function (){
                //this.context.drawImage(bgImg,0,0,this.canvas.width,this.canvas.height);
              this.context_background.drawImage(bgImg , 0 ,0 , bgImg.width , bgImg.height , 0 ,0 , this.canvasSize.width, this.canvasSize.height)
              }.bind(this);
              //画布层
              this.canvas =  document.getElementById("canvas")
              this.canvas.width = this.canvasSize.width
              this.canvas.height = this.canvasSize.height
              this.context = this.canvas.getContext('2d')
              this.canvasTop = getOffset(this.canvas).top - 108
              this.canvasLeft = getOffset(this.canvas).left - (135/915)*this.scrW
              //蒙层
              this.canvas_bak =  document.getElementById("canvas_bak")
              this.canvas_bak.width = this.canvasSize.width
              this.canvas_bak.height = this.canvasSize.height
              this.context_bak = this.canvas_bak.getContext('2d')
            },

            //falseColor() {
            //  this.ischoosecolor = false
            //},

            //选择哪一种画图方法,对应出现的小图标
            drawType (index) {
              switch (index) {
                case 1:
                    this.curcursor = "url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAQAAABKfvVzAAAAZ0lEQVR4AdXOrQ2AMBRF4bMc/zOUOSrYoYI5cQQwpAieQDW3qQBO7Xebxx8bWAk5/CASmRHzRHtB+d0Bkw0W5ZiT0SYbFcl6u/2eeJHbxIHOhWO6Er6/y9syXpMul5PLefAGKZ1/rwtTimwbWLpiCgAAAABJRU5ErkJggg==') 3 24,  auto"
                    break;
                case 5:
                this.curcursor = 'pointer'
                break;
                case 2:
                case 3:
                case 4:
                this.curcursor = 'crosshair'
                break
                default:
                this.curcursor = 'auto';
                  break;
              }
              this.draw_graph(index)
              //this.chooseImg(pen)
            },
            //选择功能按钮 修改样式
            chooseImg(obj){
                for (let i = 0; i < this.tools.length; i++) {
                  this.tools[i].ischoose = false
                }
                obj.ischoose = true
            },
            //清除图画：
            clear(){
                this.clearContext('1')
            },
            //保存图片
            save(){
                let downloadImg = new Image();
                downloadImg.src = this.canvas.toDataURL();
                downloadImg.onload = () => {
                    this.context_background.drawImage(downloadImg,0,0,downloadImg.width,downloadImg.height,0,0,this.canvasSize.width,this.canvasSize.height);
                    // this.$refs.download.href = this.canvas_background.toDataURL()
                    var base64Data  = this.canvas_background.toDataURL()
                    alert(base64Data)
                    $.ajax({
                        type: 'POST',
                        url: "/teacher/answer/check_uploader",
                        data: {
                            "file":base64Data,
                            "fileName":this.backGroundImg,
                            "answerId":this.answerId
                        },
                        contentType:"application/x-www-form-urlencoded",
                        dataType:'json',
                        success: function(data){
                            if(data.code == 0){
                                alert("上传批改成功")
                            }
                        },
                        error : function(xhr,textStatus,errorThrown){
                            if (xhr.status == 401) {
                                top.location.href = '/pages/teacher_login.html';
                            }
                        }
                    });
                    // this.$refs.download.click()
                 }
            },
            //开始画图，先画在蒙版上，最后复制到画布上
            draw_graph (index) {
                this.canvas_bak.style.zIndex = 1
                //先画在蒙版上 再复制到画布上
                this.canDraw = false
                let startX,startY
              //鼠标按下获取 开始xy开始画图
                let mousedown = (e) => {
                  this.context.strokeStyle = this.chooseColor
                  this.context_bak.strokeStyle = this.chooseColor
                  this.context_bak.lineWidth = this.penSize
                  e=e||window.event
                  startX = e.clientX - this.canvasLeft
                  startY = e.clientY - this.canvasTop
                  this.context_bak.moveTo(startX ,startY )
                  this.canDraw = true
                if(index == 1){
                  this.context_bak.beginPath()
                }else if(index == 3){
                  this.context.beginPath()
                  this.context.moveTo(startX ,startY )
                  this.context.lineTo(startX +2 ,startY+2)
                  this.context.stroke()
                }else if(index == 5){
                  this.context.clearRect(startX - this.penSize * 10 ,  startY - this.penSize * 10 , this.penSize * 20 , this.penSize * 20);
                }
              }

              //鼠标离开 把蒙版canvas的图片生成到canvas中
              let mouseup = (e) => {
                e=e||window.event
                this.canDraw = false
                let image = new Image()
                if(index!=5){
                  image.src = this.canvas_bak.toDataURL()
                  image.onload = () => {
                    this.context.drawImage(image , 0 ,0 , image.width , image.height , 0 ,0 , this.canvasSize.width , this.canvasSize.height)
                    this.clearContext()
                    this.saveImageToAry()
                  }
                  let x = e.clientX  - this.canvasLeft
                  let y = e.clientY - this.canvasTop
                  this.context.beginPath()
                  this.context.moveTo(x , y)
                  this.context.lineTo(x + 2 ,y + 2)
                  this.context.stroke()
                }
              }

              // 鼠标移动
              let  mousemove = (e) => {
                e=e||window.event
                let x = e.clientX   - this.canvasLeft
                let y = e.clientY  - this.canvasTop
                this.context_bak.setLineDash(this.lineType)
                //方块  4条直线搞定
                if(index == 4){
                  if(this.canDraw){
                    this.context_bak.beginPath()
                    this.clearContext()
                    this.context_bak.moveTo(startX , startY)
                    this.context_bak.lineTo(x  ,startY )
                    this.context_bak.lineTo(x  ,y )
                    this.context_bak.lineTo(startX  ,y )
                    this.context_bak.lineTo(startX  ,startY )
                    this.context_bak.stroke()
                  }
                //直线
                }else if(index == 2){
                  if(this.canDraw){
                    this.context_bak.beginPath()
                    this.clearContext()
                    this.context_bak.moveTo(startX , startY)
                    this.context_bak.lineTo(x  ,y )
                    this.context_bak.stroke()
                  }
                //画笔
                }else if(index == 1){
                  if(this.canDraw){
                    this.context_bak.lineTo(e.clientX   - this.canvasLeft ,e.clientY  - this.canvasTop)
                    this.context_bak.stroke()
                  }
                //圆 未画得时候 出现一个小圆
                }else if(index == 3){
                  this.clearContext()
                  if(this.canDraw){
                    this.context_bak.beginPath()
                    let radii = Math.sqrt((startX - x) *  (startX - x)  + (startY - y) * (startY - y))
                    this.context_bak.arc(startX,startY,radii,0,Math.PI * 2,false);
                    this.context_bak.stroke()
                  }else{
                    this.context_bak.beginPath()
                    this.context_bak.arc(x,y,20,0,Math.PI * 2,false)
                    this.context_bak.stroke()
                  }
                //橡皮
                }else if(index == 5){
                  this.context_bak.setLineDash([0,0])
                  this.context_bak.lineWidth = 1
                  this.clearContext()
                  this.context_bak.beginPath()
                  this.context_bak.strokeStyle =  '#000000'
                  this.context_bak.moveTo(x - this.penSize * 10 ,  y - this.penSize * 10 )
                  this.context_bak.lineTo(x + this.penSize * 10  , y - this.penSize * 10 )
                  this.context_bak.lineTo(x + this.penSize * 10  , y + this.penSize * 10 )
                  this.context_bak.lineTo(x - this.penSize * 10  , y + this.penSize * 10 )
                  this.context_bak.lineTo(x - this.penSize * 10  , y - this.penSize * 10 )
                  this.context_bak.stroke()
                  if(this.canDraw){
                    this.context.clearRect(x - this.penSize * 10 ,  y - this.penSize * 10 , this.penSize * 20 , this.penSize * 20)
                  }
                  this.context_bak.setLineDash(this.lineType)
                }
              }
              //鼠标离开区域以外 除了涂鸦 都清空
              let mouseout = () => {
                  this.clearContext();
              }
              this.canvas_bak.onmousedown = ()=> { mousedown() }
              this.canvas_bak.onmousemove = ()=> { mousemove() }
              this.canvas_bak.onmouseup = ()=> { mouseup() }
              this.canvas_bak.onmouseout = ()=> { mouseout() }
            },

            clearContext (type) {
              if(!type){
                this.context_bak.clearRect(0, 0, this.canvasSize.width , this.canvasSize.height)
              }else{
                this.context.clearRect(0, 0, this.canvasSize.width , this.canvasSize.height)
                this.context_bak.clearRect(0, 0, this.canvasSize.width , this.canvasSize.height)
              }
            },
            //撤回 control+Z
            cancel () {
              this.cancelIndex++
              this.context.clearRect(0, 0, this.canvasSize.width, this.canvasSize.height)
              let image = new Image()
              let index = this.cancelList.length-1 - this.cancelIndex
              let url = this.cancelList[index];
              image.src = url
              image.onload = ()=> {
                this.context.drawImage(image , 0 ,0 , image.width , image.height , 0 ,0 ,  this.canvasSize.width, this.canvasSize.height)
              }
            },
            //回退 control+Y
            next () {
              this.cancelIndex--
              this.context.clearRect(0 , 0,this.canvasSize.width, this.canvasSize.height)
              let image = new Image()
              let index = this.cancelList.length-1 - this.cancelIndex
              let url = this.cancelList[index]
              image.src = url
              image.onload = ()=> {
                this.context.drawImage(image , 0 ,0 , image.width , image.height , 0 ,0 , this.canvasSize.width, this.canvasSize.height)
              }
            },

            //保存历史 用于撤销
            saveImageToAry () {
              this.cancelIndex = 0;
              let dataUrl =  this.canvas.toDataURL();
              this.cancelList.push(dataUrl)
            },

            //监听键盘操作的撤回前进键
            addkeyBoardlistener() {
              document.onkeydown = (event) => {
                let e = event || window.event || arguments.callee.caller.arguments[0];
                  if (e.keyCode === 89 && e.ctrlKey) {
                    //ctrl+Y 回退
                    this.next()
                  }
                  if (e.keyCode === 90 && e.ctrlKey) {
                   // ctrl+Z 撤回
                   this.cancel()
                  }
              }
            }
        }
    })
</script>
